/*small 576*/
@media screen and (min-width: 576px) {
    #sidebar {
        width: 270px;

    }

    #top-content {
        width: calc(100vw - 270px);
    }

    .sidebar-il,
    .playlist {
        display: inline;
    }

    .separator,
    .logo-big {
        display: block;
    }

    .logo-small {
        display: none;
    }

    .sidebar-main ul,
    .sidebar-user {
        align-items: flex-start;
    }

    #sidebar li {
        padding-left: 25px;
    }

    #sidebar .logo,
    .sidebar-user a,
    #sidebar h3,
    #sidebar i,
    .separator {
        margin-left: 25px;
    }

    .sidebar-main>ul .home {
        border-left: 3px solid greenyellow;
    }
}

/*medium 768*/
@media screen and (min-width: 768px) {
    .col {
        flex-basis: calc(25% - 30px / 4);
    }
}

/*Large 996*/
@media screen and (min-width: 996px) {
    .col {
        flex-basis: calc(100% / 6 - 50px / 6);
    }
}