/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 16px;
}

h4 {
    color: white;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #7D7F84;
}

/* Utils */
.separator {
    border: 1px solid #7D7F84;
    width: 225px;
}

/*color*/
.grey {
    color: #7D7F84;
}

/*Margin*/
.mrb-15 {
    margin-bottom: 15px;
}

.mrt-30 {
    margin-top: 30px;
}

/*Padding*/
.pdl-25 {
    padding-left: 25px;
}

.pdb-15 {
    padding-bottom: 15px;
}

/*Main*/
.upper-content {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}

#top-content {
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
    color: white;
}

.upgrade {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    z-index: 1;
}

/*Sidebar*/
#sidebar {
    width: 60px;
    background-color: black;
    color: #7D7F84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-main {
    overflow-y: auto;
}

#sidebar img {
    filter: invert(0.3);
}

#sidebar .logo-small,
#sidebar .logo-big,
#sidebar .user {
    filter: invert(0);
}

.logo-small {
    padding-top: 10px;
    margin: 0 auto;
}

#sidebar .logo-big {
    width: 200px;
}

.sidebar-il,
.playlist,
.separator,
.logo-big {
    display: none;
}

.sidebar-main>a img {
    width: 40px;
}

.sidebar-main ul,
.sidebar-user {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-main>ul img,
.sidebar-user>a img {
    width: 30px;
}

.user {
    background-color: #808080;
    border-radius: 50%;
}

#sidebar a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px
}

.playlist i {
    padding: 10px;
    background-color: #A3A3A3;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 5px;
}

.download-app {
    width: 15px;
}

.sidebar-user .name-user,
.playlist h3 {
    color: white;
}



/*Upgrade*/
.upgrade a {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

/*Album*/
.album {
    padding: 15px 20px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 25px;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

.col {
    flex-basis: calc(50% - 5px);
    max-width: 300px;
    text-align: center;
}

.card img {
    cursor: pointer;
}

.col>* {
    margin: 10px 0;
}

.col span,
.JD-mix>.span,
.popular-artist>.span {
    color: #7D7F84;
    font-size: 13px;
}

.popular-artist .card>img {
    border-radius: 50%;
}

/*border to remove*/
.border {
    border: 1px dashed white;
}

footer {
    min-height: 100px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.comand {
    flex-grow: 1;
}

footer .music,
footer .sets {
    flex-basis: calc(100% / 3);
    display: flex;
}

.now-music img {
    width: 60px;
    margin: 0 15px;
}

.dscrp-music,
.like {
    margin: auto 0;
}

.music i {
    font-size: 20px;
}

.comand {
    text-align: center;
}

.comand a {
    margin: 0 15px;
    color: white;
    vertical-align: middle;
}

.fa-circle-play {
    font-size: 25px;
}

.time-music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.bar-music {
    display: flex;
    flex-basis: 600px;
    height: 7px;
    background-color: #5A5A5A;
    border-radius: 5px;
}

.progress-music {
    flex-basis: 20%;
    height: 7px;
    background-color: #C1C1C1;
    border-radius: 5px;
}

.sets {
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.sets a {
    color: white;
    margin: 0 10px;
}

.bar-volume {
    display: flex;
    flex-basis: 150px;
    height: 7px;
    background-color: #5A5A5A;
    border-radius: 5px;
}

.actual-volume {
    flex-basis: 20%;
    height: 7px;
    background-color: #C1C1C1;
    border-radius: 5px;
}

footer .music,
footer .sets {
    display: none;
}

/*Bonus*/

.hover-word:hover,
.name-playlist li:hover {
    color: white;
}

.bgwhite-hover:hover {
    background-color: white;
}

.card {
    position: relative;
}

.player-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.col .card:hover .player-button {
    display: flex;
}

.popular-artist .card:hover .player-button {
    display: flex;
    border-radius: 50%;
}

.upgrade a:hover {
    transform: scale(1.1);
}

.album .navbar li.active::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
    margin: 3px auto;
}